<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>

    <div class="container">
        <div class="img">
            <img src="assets/img/user.png" alt="">
            <h1>Регистрация</h1>
        </div>

        <div class="input-container">
            <input type="name" id="nameInput" placeholder="&nbsp;">
            <label for="nameInput">Логин</label>
        </div>    

        <div class="input-container">
            <input type="password" id="nameInput" placeholder="&nbsp;">
            <label for="nameInput">Пароль</label>
        </div>

        <div class="form_button">
            <button>Зарегистрироваться</button>
        </div>

        <a class="link" href="index.html">
            <p>
                Вход
            </p>
        </a>
    </div>


</body>
</html>