{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body>

    <div class="container">
        <div class="img">
            <img src="{% static "assets/img/user.png" %}" alt="">
            <h1>Авторизация</h1>
        </div>

        <form action="login.php" method="post">
            <div class="input-container">
                <input type="text" id="loginInput" name="login" placeholder="&nbsp;">
                <label for="loginInput">Логин</label>
            </div>    

            <div class="input-container">
                <input type="password" id="passwordInput" name="password" placeholder="&nbsp;">
                <label for="passwordInput">Пароль</label>
            </div>

            <div class="form_button">
                <button type="submit">Войти</button>
            </div>
        </form>

        <a class="link" href="register.html">
            <p>Регистрация</p>
        </a>

        <a class="external-link" href="list.html" >
            <p>Я студент</p>
        </a>
    </div>

</body>
</html>
