body {
    margin: 0px;
    padding: 0px;
    font-family: "Inter";
}

.container {
    max-width: 437px;
    margin: auto;
    justify-content: center;

    padding: 0 15px;
}

.img {
    text-align: center;
    margin-top: 58px;
}

.img h1 {
    color: #2B579A;
    font-size: 34px;
}




.input-container {
    position: relative;
    margin-top: 40px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #777777; 
    outline: none;
    color: #000000; 
    
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -20px;
    font-size: 16px;
    color: #000000;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.input-container label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    color: #777777; 
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}


.form_button button {
    width: 440px;
    height: 53px;
    margin-top: 35px;
    background-color:  #2B579A;
    cursor: pointer;
    border: 0px;
    font-family: "Inter";
    color: #ffffff;
    font-size: 20px;

    transition: background-color 0.3s ease;
}

.form_button button:hover {
    background-color: #376fc4;
}

.link {
    text-decoration: none;
    font-size: 20px;
    color: #2B579A;
    margin: auto;
    font-weight: 700;
    text-align: center;
}

.link:hover {
    color: #3671ca;
}


@media (max-width: 500px) {
    .container {
        max-width: 300px;
    }

    .form_button button {
        width: 320px;
    }

    .form_button_1 button {
        max-width: 320px;
    }

    .box {
        max-width: 330px;
    }
    .edit button {
        margin-left: -9em;
        display: none;
    }
}

.box {
    margin-top: 41px;
    width: 460px;
    cursor: pointer;
    border: 0px;
    

    background-color: #6297E9;
}
.box:hover {
    background-color: #2B579A;
}
.box p {
    color: #fff;
    font-size: 20px;
    padding-top: 20px; 
    padding-bottom: 20px;
    font-weight: 500;  
}


.form_button_1 button {
    width: 440px;
    height: 53px;
    margin-top: 35px;
    background-color:  #6297E9;
    cursor: pointer;
    border: 0px;
    font-family: "Inter";
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 50px;

    transition: background-color 0.3s ease;
}

.form_button_1 button:hover {
    background-color: #376fc4;
}

.edit {
    position: absolute;
    margin-left: 25.7em;
}

.edit button {
    background-color: #2B579A;
    width: 28px;
    height: 28px;
    border-radius: 289px;
    border: 0px;
    margin-top: 7px;
}

.edit_svg {
    margin-top: 5px;
}